[Unit]
Description=Get IP And Send Message To WebSocket Server
After=network.target remote-fs.target nss-lookup.target



[Service]
User=chia
Group=chia

Type=forking
ExecStart=/home/chia/GetIP/start.sh
ExecStop=/bin/kill -s HUP $MAINPID
ExecReload=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target